@import url('https://fonts.googleapis.com/css?family=Pacifico|Rubik');

body{
	text-align: center;
	font-family: 'Rubik', sans-serif;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0;
} 

.container center table {
	padding: 10px;
}

.container center table tr td table {
	padding: 5px;
}